@font-face {
    font-family: Aeroport;
    src: url(../fonts/AeroportLight.otf);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Aeroport;
    src: url(../fonts/AeroportLightItalic.otf);
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: Aeroport;
    src: url(../fonts/Aeroport.otf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Aeroport;
    src: url(../fonts/AeroportItalic.otf);
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: Aeroport;
    src: url(../fonts/AeroportMedium.otf);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Aeroport;
    src: url(../fonts/AeroportMediumItalic.otf);
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: Aeroport;
    src: url(../fonts/AeroportBold.otf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Aeroport;
    src: url(../fonts/AeroportBoldItalic.otf);
    font-weight: 700;
    font-style: italic;
}
